#title-bar {
  -webkit-app-region: drag;
  height: 32px;
  background-color: var(--chakra-colors-primary-light);
  color: var(--chakra-colors-primary-dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

html.dark #title-bar {
  background-color: var(--chakra-colors-primary-dark);
  color: var(--chakra-colors-primary-light);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
